@import "tailwindcss";

:root {
    color-scheme: light dark;
}

html {
    font-family: system-ui, sans-serif;
}

body {
    background: #050505;
    display: flex;
    flex-direction: column;
    justify-content: center;
}