---
const personalImageAlt = "Carlos Daniel Salcán";

import { Image } from "astro:assets";
import miFoto from "./public/img/cdsm.webp";
---

<article
    class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
    <div
        class="text-base md:text-lg [&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
    >
        <p>
            Me llamo Carlos Daniel. Mi fascinación por la tecnología comenzó
            desarmando y volviendo a ensamblar computadoras para entender cómo
            funcionaban por dentro. Esa curiosidad natural me llevó a
            convertirme en <strong
                >Ingeniero en Ciencias de la Computación</strong
            >.
        </p>

        <p>
            En mi trayectoria, he aprendido que el éxito de un sistema no solo
            reside en el código, sino en una <strong
                >metodología rigurosa de análisis, planeación y ejecución</strong
            >. Gracias a este enfoque, he logrado impulsar sistemas , eliminando
            errores en ejecución garantizando la integridad de la información en
            diversos entornos.
        </p>

        <p>
            Fuera del entorno de desarrollo, <strong
                >disfruto de un buen café, diversos deportes y sumergirme en el
                mundo de los <em class="italic">Videojuegos & Series</em
                ></strong
            >. Mi objetivo es mantener una mente activa y equilibrada que me
            permita abordar cada desafío técnico con una perspectiva fresca,
            eficiente y estratégica.
        </p>
    </div>

    <Image
        src={miFoto}
        alt={personalImageAlt}
        width="200"
        height="200"
        class="order-1 object-cover w-40 sm:w-52 md:w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
        style="object-position: 50% 50%"
    />
</article>
