---
import type { date } from "astro:schema";
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
    {
        date: "Actualidad...",
        title: "Freelancer － Desarrollo Web, Diseño UI/UX & Consultoría Técnica",
        description:
            "Ofrezco servicios de desarrollo web, diseño de interfaces y consultoría técnica a emprendedores, pequeñas empresas y organizaciones que buscan mejorar su presencia digital. Me enfoco en construir soluciones a medida, funcionales y modernas, adaptadas a las necesidades reales de cada cliente. Actualmente en búsqueda activa de nuevas oportunidades y proyectos de colaboración.",
        link: "mailto:carlosdanielsm.dev@gmail.com",
    },
    {
        date: "Julio 2024",
        title: "Desarrollador Web & Sistemas － Coordinación Zonal 9 de Salud",
        description:
            "Responsable del diseño, desarrollo y mantenimiento de sistemas internos. Lider en reingeniería y optimización del sistema de inventario tecnológico institucional. Identificando fallos en la arquitectura anterior y desarrollo una solución que eliminó errores de registro, garantizando la integridad de los datos y mejorando significativamente la eficiencia en la gestión de recursos.",
        link: "https://github.com/carlodaniel-dev/It-inventorySystem", // Si existe una demo o enlace relevante, se puede agregar aquí
    },
    {
        date: "Febrero 2024",
        title: "Desarrollador Web － Centro La Perfecta Alegria",
        description:
            "Diseño y desarrollo de interfaces responsive y accesibles. Optimización de presencia digital mediante estrategias técnicas y creativas, mejorando la experiencia de usuario y el posicionamiento de la organización.",
    },
];
---

<!-- Marzo 2024 | Noviembre 2023  -->
<ol class="max-w-4xl relative border-s border-default ml-3">
    {
        EXPERIENCE.map((experience) => (
            <li class="mb-10 ms-6">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>
