<header
	class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
	<nav
		class="flex px-3 text-sm font-medium rounded-full text-gray-600 dark:text-gray-200 justify-center items-center bg-white/50 dark:bg-gray-800/50 backdrop-blur-xl"
	>
		<div class="flex flex-row gap-x-10 opacity-80 py-2 px-5">
			<a class="hover:text-yellow-500 transition" href="#top">Inicio</a>
			<a class="hover:text-yellow-500 transition" href="#experiencie"
				>Experiencia</a
			>
			<a class="hover:text-yellow-500 transition" href="#projects"
				>Proyectos</a
			>
			<a class="hover:text-yellow-500 transition" href="#about"
				>Sobre Mí</a
			>
			<a
				class="hover:text-yellow-500 transition"
				href="mailto:tu-correo@gmail.com">Contacto</a
			>
		</div>
	</nav>
</header>
